{
  "env": {
    "BUILD": {
      "presets": ["es2015-rollup"]
    },
    "TEST": {
      "presets": [
        ["env", { "targets": { "browsers": ["last 2 versions", "safari >= 7"] } }],
        "flow",
        "power-assert"
      ],
      "plugins": ["istanbul"]
    }
  }
}